/* Typography */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
	line-height: $line-height-base;
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: $font-weight-normal;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: $font-weight-bold;
    font-family: $font-family-h1;

	small {
		font-size: 70%;
	}
}

h1,
.h1 {
	font-size: $font-size-h1;
	margin: $font-size-h1 0 $font-size-h1 / 2;
}

h2,
.h2 {
	font-size: $font-size-h2;
	margin-bottom: $font-size-h2 / 2;
}

h3,
.h3 {
	font-size: $font-size-h3;
	margin-bottom: $font-size-h3 / 2;
}

h4,
.h4 {
	font-size: $font-size-h4;
	margin-bottom: $font-size-h4 / 2;
}

h5,
.h5 {
	font-size: $font-size-h5;
	margin-bottom: $font-size-h5 / 2;
}

h6,
.h6 {
	font-size: $font-size-h6;
	margin-bottom: $font-size-h6 / 2;
}

ul {
	list-style-type: none;
}

p {
    margin-bottom: $font-size-base / 2;
    line-height: $line-height-base-lg;
}

hr {
    height: 1px;
    margin: 0px;
    padding: 0;
    border-top: 1px solid $brand-light;
}

a {
	color: $color-link;

	&:hover {
		text-decoration: $link-decoration;
	}

	&.link-danger {
		color: $brand-danger;
	}

	&.link-info {
		color: $brand-info;
	}

	&.link-success {
		color: $brand-success;
	}
}

blockquote {
	display: inline-block;
	padding: 10px 0 10px 20px;
	border-left: 1px solid #ddd;

	&.blockquote {
		position: relative;
		border: none;

		p {
			display: inline-block;

			& + p {
				display: block;
			}
		}

		i,
		em {
			display: block;
			text-align: right;
		}

		&:before {
			content: '"';
			display: inline-block;			
			font-size: 40px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}




