/*
 * _variables.scss
 * 
 * Site: wpstartertheme
 * Url: /assets/scss/_variables.scss
 *
 * Author: Radoslav Michalisko
 * Date: 22/12/2020
 *
 */

// ---
// Colors
$brand-primary:             #14213d !default;
$brand-secondary:           #fca311 !default;
$brand-light:               #e5e5e5 !default;
$brand-lighter:             #eeeeee !default;
$brand-dark:                #1F1F1F !default;
$brand-darker:              #000000 !default;

$brand-danger:              #DB5461 !default;
$brand-info:                royalblue !default;
$brand-success:             #297373 !default;
$brand-warning:      	    #FCA311 !default;

$font-weight-normal:        300 !default;
$font-weight-bold:          500 !default;
// /Colors
// ---

// ---
// Typography
$base-font-size:            18px !default;
$font-family-system:        system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;;
$font-family-base:          "Roboto", $font-family-system !default;
$font-family-custom:        "Roboto", $font-family-system !default;
$base-border-radius:        8px !default;

$color-base:                #333 !default;
$color-link:                $brand-primary !default;

$font-size-html:            16px !default;
$font-size-base:            1rem;

$line-height-base:          1.4 !default;
$line-height-base-lg:       1.6 !default;

$link-decoration:           none !default;

$font-weight-light:         300;
$font-weight-normal:        500 !default;
$font-weight-bold:          900 !default;

$padding-x:                 .5rem !default;
$padding-y:                 1rem !default;
$padding-x-sm:              .25rem !default;
$padding-y-sm:              .5rem !default;

$border-radius:             2px !default;

$text-transform-nav:        uppercase !default;

// h1-h6 sizes
$font-size-h1:              1.6rem !default;
$font-size-h2:              1.4rem !default;
$font-size-h3:              1.2rem !default;
$font-size-h4:              1rem !default;
$font-size-h5:              1rem !default;
$font-size-h6:              1rem !default;

// h1-h6 font family
$font-family-h1:            $font-family-custom !default;
$font-family-h2:            $font-family-custom !default;
$font-family-h3:            $font-family-custom !default;
$font-family-h4:            $font-family-custom !default;
$font-family-h5:            $font-family-custom !default;
$font-family-h6:            $font-family-custom !default;


// /Typography
// ---

// ---
// Paddings

// /Paddings
// ---

// ---
// Buttons
$base-btn-radius:           $base-border-radius !default;
$base-btn-padding:          6px 12px !default;
$base-btn-border:           1px solid lighten($color-base, 10%) !default;
// /Buttons
// ---

// ---
// Tables

// /Tables
// ---

// ---
// Alerts

// /Alerts
// ---

// ---
// Support

// /Support
// ---

// ---
// Banner
$hero-height: 50vh !default;
$hero-bg: $brand-lighter;

// /Banner
// ---

// ---
// Nav

// /Nav
// ---

// ---
// Navbar

// /Navbar
// ---

// ---
// Transition

// /Transition
// ---

// ---
// Forms

// /Forms
// ---

// ---
// Icons

// /Icons
// ---

// ---
// Hero

$hero-height: 100vh;
// /Hero
// ---

// ---
// Labels

// /Labels
// ---

// ---
// Others

// /Others
// ---

// ---
// Bootstrap
$enable-grid-classes:         true !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

// /Bootstrap
// ---

