.hero {
    min-height: $hero-height;
    position: relative;
    background-color: $hero-bg;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
    &.center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1ch;
    }
    
    .hero-title {
        a {
            color: #fff;
            
            &:hover {
                color: rgba(#fff, .6);
            }
        }
    }
        
    .hero-description {
        color: #fff;
    }    
}
