// ---
// Nav
.nav-item {
    @include media-breakpoint-up(md) {
        margin-left: .5rem;
    }
}
// /Nav
// ---

// ---
// Nav link
.nav-link {
    @include media-breakpoint-up(md) {
        // Btn theme
        border: $btn-border-width solid;
        border-color: $color-primary;
        border-radius: $btn-border-radius-outline;
        color: $color-primary;

        &:hover {
            border-color: darken($color-primary, 15%);
            color: darken($color-primary, 15%);
        }
    }

    &:hover {
        color: $color-secondary;
        border-color: $color-secondary;
    }
}
// /Nav
// ---
