/*
 * _navbar.scss
 *
 * Site: WPStarterTheme
 * Url: /assets/scss/modules/_navbar.scss
 *
 * Author: Radoslav Michalisko
 * Date: 3.7.18
 *
 */

.navbar-toggler-icon {
    width: 3.5rem;
    height: 2.5rem;
}
